@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
body {
  background-color: #615efc;
  padding: 0%;
  margin: 0%;
}
.adiv {
  color: #110677;
  font-family: "Lobster", sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 2.9rem;
  font-family: "Dancing Script", cursive;
  padding: 5%;
  padding-bottom: 2%;
}
.bdiv {
  height: 30rem;
  width: 20rem;
}
.cdiv {
  background-color: #7e8ef1;
  text-align: left;
  justify-content: center;
  color: #110677;
  display: flex;
}

.cdiv:hover {
  background-color: #110677;
  text-align: left;
  justify-content: center;
  color: #7e8ef1;
  display: flex;
}

.hobbies-div {
  margin-top: 4rem;
}

.button-marvel {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2rem;
}

button {
  padding: 1%;
  background-color: #d1d8c5;
  border-radius: 1rem;
}

@media screen and (max-width: 700px) {
  .adiv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  button {
    padding: 4%;
  }
}

.adiv p {
  font-size: 2.5rem;
}
